<html>
<head>
	<title>Chef Fundamentals</title>
</head>
<body>
	<h1><%= node["apache"]["greeting"] %></h1>

	<h3>My name is <%= node["fqdn"] %></h2>
	<p>
	Hello World!
	</p>

	<h3>My stats</h3>
	<p>
			<ul>
				<li>RAM: <%= node["memory"]["total"] %></li>
				<li>Platform: <%= node["platform"] %> Version: <%= node["platform_version"] %></li>
			</ul>
	</p>

	<h3>My Neighborhood</h3>
	<p>
		<ul>
			<% @neighbors.each do |neighbor| %>
				<li><%= neighbor["fqdn"] %></li>
			<% end %>
		</ul>
	</p>
</body>
</html>
